@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-container {
  position: relative;
  margin-left: 70px;
  width: 250px;
  height: 60px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-back {
  width: 100%;
  height: 100%;
  border: 4px solid #6e737f;
  border-radius: 25px;
  background: #84d2dd;
  box-shadow:
    0 24px 24px rgba(0, 0, 0, 0.15),
    0 2px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}
.btn-front {
  position: absolute;
  width: 98%;
  height: 100%;
  background: linear-gradient(#dcdfe0 60%, #bec4c8 100%);
  border-radius: 22px;
  border: none;
  transform: translateY(-6px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #395d7a;
  box-shadow:
    0 4px 4px #84d2dd,
    inset 0 -2px 2px #6e737f;
  transition: all 0.1s ease;
  overflow: hidden;
  animation: glow-up 2s infinite ease-in-out;
}
@keyframes glow-up {
  50% {
    transform: translateY(-8px);
    box-shadow:
      0 4px 12px #75e7f7,
      inset 0 -2px 2px #6e737f;
  }
}
.btn-front p {
  position: absolute;
  transition: all 0.3s ease;
}
.btn-front svg {
  position: absolute;
  left: 100%;
  transition: all 0.3s ease;
}
.btn-container:hover .btn-back {
  background: transparent;
  transform: translateY(4px);
  box-shadow:
    0 12px 12px rgba(0, 0, 0, 0.15),
    0 2px 0 rgba(0, 0, 0, 0.4);
}
.btn-container:hover .btn-front {
  transform: translateY(-8px);
  box-shadow: inset 0 -2px 2px #6e737f;
  animation: none;
}
.btn-container:hover .btn-front p {
  transform: translateX(-12px);
}
.btn-container:hover .btn-front svg {
  left: 87%;
}
.btn-container:active .btn-front {
  transform: translateY(2px);
  box-shadow:
    0 0 60px #75e7f7,
    inset 0 -2px 2px #6e737f;
}



.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background: white;
  border: 1px solid #e5e7eb;
  color: #bb3252;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  z-index: 20;
}

/* espace à gauche */
.swiper-button-prev {
  left: 0;
}

/* espace à droite */
.swiper-button-next {
  right: 0;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #bb3252;
  color: white;
}


           